@media (max-width: 1300px) {
    .elips4 {
        width: 238px;
        position: absolute;
        margin-top: 348px;
        margin-left: 785px;
    }
    .block5 {
        width: 1050px;
    }
    .block5-result {
        width: 210px;
    }
    .block6 {
        width: 900px;
    }
    .
    .pack-4 {
        width: 488px;
    }
    #block8 {
        background: url(../img/bg-8.jpg) 63% top no-repeat, linear-gradient(90deg, rgba(58,85,109,1) 0%, rgba(58,85,109,1) 34%, rgba(201,86,6,1) 71%, rgba(201,86,6,1) 100%)
    }
    .block9 {
        width: 1050px;
    }
}
@media (max-width: 1100px) {
    .block1 {
        width: 750px;
    }
    .block2 {
        width: 750px;
    }
    .block3 {
        width: 750px;
    }
    .block4 {
        width: 750px;
    }
    .block5 {
        width: 750px;
    }
    .block6 {
        width: 500px;
    }
    .block7 {
        width: 750px;
    }
    .block8 {
        width: 750px;
    }
    .block9 {
        width: 750px;
    }
    .block10 {
        width: 750px;
    }
    .flex1 {
        display: none;
    }
    .flex3 {
        display: none;
    }
    .flex0 {
        display: block;
    }
    .top-product {
        width: 320px;
        margin-top: 100px;
    }
    .block2flex2 {
        width: 100%;
    }
    .block2flex1 {
        width: 100%;
    }
    
    .block2-img {
        margin: 0 auto;
        display: block;
    }
    .block3-flex1, .block3-flex2, .block3-flex3, .block3-flex4, .block3-flex5, .block3-flex6, .block3-flex7, .block3-flex8 {
        display: block;
        margin-bottom: 15px;
    }
    .block3-img1, .block3-img2, .block3-img3, .block3-img4, .block3-img5, .block3-img6, .block3-img7, .block3-img8 {
        width: 100%;
        text-align: center;
    }
    .block3-flextext {
        width: 100%;
        text-align: center; 
    }
    .elips1, .elips2, .elips3, .elips4, .elips5, .elips6, .elips7, .elips8 {
        display: none;
    }
    .block3-title {
        text-align: center;
    }
    #block5 {
        background: black;
    }
    .block5-flex {
        justify-content: space-around;
    }
    .block5-result {
        width: 255px;
    }
    .result5-1 {
        background: url(../img/test1.png) center no-repeat;
        margin-bottom: 20px;
    }
    .result5-2 {
        background: url(../img/test2.png) center no-repeat;
        margin-bottom: 20px;
    }
    .result5-3 {
        background: url(../img/test3.png) center no-repeat;
    }
    .result5-4 {
        background: url(../img/test4.png) center no-repeat;
    }
    .block5-result {
        border: 2px dashed #ededed4a;
    }
    .block7-info {
        width: 48%;
        margin-bottom: 20px;
    }
    .center-block {
        margin: 0 auto;
    }
    .pack-4 {
        margin-left: -7px;
        width: 370px;
    }
    .block8-main {
        margin-top: 24px;
        font-size: 28px;
    }
    #block8 {
        background: url(../img/bg-8.jpg) 66% top no-repeat, linear-gradient(90deg, rgba(58,85,109,1) 0%, rgba(58,85,109,1) 34%, rgba(201,86,6,1) 71%, rgba(201,86,6,1) 100%);
    }
    .product {
        width: 380px;
        margin-left: 11px;
        margin-top: 238px;
    }
    #block9 {
        background: black;
        background: url(../img/bg-9.jpg) 30% top no-repeat black;
        padding: 40px 0 50px;
    }
    .flex9-ico {
        width: 100%;
        text-align: center;
    }
    .flex9-esle {
        width: 100%;
        text-align: center;
    }
    .gescr {
        margin-bottom: 12px;
    }
    .polotic {
        width: 200px;
    }
    .footer-img {
        width: 70%;
    }
}
@media (max-width: 800px) {
    .block1 {
        width: 430px;
    }
    .block2 {
        width: 430px;
    }
    .block3 {
        width: 430px;
    }
    .block4 {
        width: 430px;
    }
    .block5 {
        width: 430px;
    }
    .block6 {
        width: 420px;
    }
    .block7 {
        width: 430px;
    }
    .block8 {
        width: 430px;
    }
    .block9 {
        width: 430px;
    }
    .block10 {
        width: 430px;
    }
    .flex1 {
        display: none;
    }
    .flex3 {
        display: none;
    }
    .flex0 {
        display: block;
        margin: 0 auto;
    }
    .logo {
        width: 430px;
    }
    #block1 {
        background: url(../img/bg-1.jpg) 69% top no-repeat black;
    }
    .main-text {
        margin-top: 24px; 
    }
    .formula {
        margin: 16px 0 35px; 
    }
    .small-text {
        opacity: 0.7;
    }
    .block2-img {
        width: 320px; 
    }
    .all-text {
        font-size: 18px;
    }
    #block2 {
        padding: 60px 0 28px; 
    }
    .block3-title {
        margin-bottom: 30px; 
    }
    .all-text2 {
        font-size: 18px;
    }
    .capsules-img {
        width: 100%;
    }
    .capsules-text {
        width: 100%;
        padding-top: 15px;
    }
    .sachet-text {
        width: 100%;
        padding-top: 15px; 
    }
    .sachet-img {
        width: 100%;
        margin-top: 65px;
        order: -1;
    }
    .button-form2 {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
    .button-form3 {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
    #block4 {
        text-align: center;
    }
    .cream-text {
        width: 100%;
    }
    .gel-text {
        width: 100%;
        padding-top: 25px;
    }
    .result5-3 {
        margin-bottom: 20px;
    }
    .result5-4 {
        margin-bottom: 20px;
    }
    #block5 {
        padding: 50px 0 26px;
    }
    .result-text {
        opacity: 0.8;
    }
    .block7-info {
        width: 90%;
        margin: 0 auto 20px;
    }
    .block8-info {
        width: 100%;
    }
    #block8 {
        background: linear-gradient(180deg, rgba(58,85,109,1) 0%, rgb(34, 50, 65) 100%);
        padding: 10px 0 0px
    }
    .block8-main {
        text-align: center;
    }
    .pack-4 {
        margin: 0 auto;
        display: block;
    }
    .logo-2 {
        width: 390px;
    }
    .block9-text {
        width: 100%;
    }
    .block9-img {
        width: 100%;
        order: -1;
    }
    .product {
        margin: 0 auto;
    }
    .block9-img {
        display: none;
    }
    .block9-img-hidden {
        display: block;
    }
    #block9 {
        background: black;
        background: url(../img/bg-9.jpg) 18% top no-repeat black;
        padding: 40px 0 50px; 
    }
    .footer-info {
        width: 100%;
    }
    .map {
        width: 320px;
        margin: 0 auto 20px;
        height: 165px;
    }
    #block10 {
        text-align: center;
    }
    .polotic {
        padding-top: 10px;
        margin: 0 auto;
    }
    .footer-img {
        width: 100%;
        order: -1;
    }
    .flex-line2 {
        padding-top: 20px;
    }
    .check {
        display: block;
        margin: 34px auto 0;
    }
    .block3-flex1, .block3-flex2, .block3-flex3, .block3-flex4, .block3-flex5, .block3-flex6, .block3-flex7, .block3-flex8 {
        width: 100%;
    }
    .block7-info {
        height: auto; 
    }
    
}
@media (max-width: 480px) {
    .block1 {
        width: 290px;
    }
    .block2 {
        width: 270px;
    }
    .block3 {
        width: 270px;
    }
    .block4 {
        width: 270px;
    }
    .block5 {
        width: 290px;
    }
    .block6 {
        width: 290px;
    }
    .block7 {
        width: 290px;
    }
    .block8 {
        width: 270px;
    }
    .block9 {
        width: 270px;
    }
    .block10 {
        width: 290px;
    }
    .flex1 {
        display: none;
    }
    .flex3 {
        display: none;
    }
    .flex0 {
        display: block;
        margin: 0 auto;
    }
    .logo {
        width: 280px;
    }
    .block1-description {
        width: 280px; 
    }
    .top-product {
        width: 270px;
    }
    .block2-img {
        width: 270px;
    }
    #block1 {
        background: url(../img/bg-1.jpg) 72% top no-repeat black;
    }
    #block2 {
        padding: 60px 10px 28px; 
        text-align: center;
    }
    .block2-main-text {
        text-align: center;
        font-size: 35px;
    }
    #block3 {
        padding: 40px 10px 0;
    }
    #block4 {
        padding: 40px 10px 50px;
    }
    .bl4-1 {
        width: 270px;
    }
    .bl4-2 {
        width: 270px;
    }
    .bl4-3 {
        width: 270px;
    }
    .bl4-4 {
        width: 270px;
    }
    .block4-desk-text {
        font-size: 19px; 
    }
    .button-form2 {
        width: 270px;
        padding: 24px 55px;
    }
    .button-form3 {
        width: 270px;
        padding: 24px 55px;
    }
    .button-form4 {
        width: 270px;
        padding: 24px 70px;
    }
    .block5-description {
        display: none;
    }
    .slide-bl {
        padding: 30px 15px;
    }
    #block6 {
        padding: 50px 0 40px;
        background: url(../img/bg-6.jpg) 94% top no-repeat, linear-gradient(180deg, rgba(223,146,94,1) 0%, rgba(219,138,83,1) 25%, rgba(211,129,71,1) 39%, rgba(209,124,67,1) 50%, rgba(197,111,52,1) 75%, rgba(193,104,44,1) 86%, rgba(190,100,40,1) 100%);
    }
    .block7-description {
        font-size: 36px; 
    }
    .block7-main {
        padding-top: 0px;
        font-size: 36px;
    }
    #block7 {
        padding: 50px 0 30px;
    }
    .block8-main {
        margin-top: 25px;
        font-size: 21px;
    }
    .flex8-img {
        width: 28%;
    }
    .flex8-text {
        width: 72%;
    }
    #block8 {
        padding: 10px 10px 0px;
    }
    .pack-4 {
        width: 300px;
        margin: 0 auto;
        display: block;
    }
    .logo-2 {
        width: 270px;
    }
    .product {
        width: 270px;
    }
    #block9 {
        background: black;
        background: url(../img/bg-9.jpg) 20% top no-repeat black;
        padding: 25px 10px 25px;
    }
    .gescr {
        font-size: 24px;
    }
    .map {
        width: 290px;
    }
    .inter-adress {
        font-size: 13px;
    }
    .footer-delivery {
        width: 30%;
    }
    .footer-img {
        width: 94%;
    }
    .button-form {
        padding: 24px 28px;
    }
}