
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Jost', sans-serif;
}
#block1 {
    background: url(../img/bg-1.jpg) 50% top no-repeat black;
    padding: 75px 0 45px;
    text-align: center;
}
.block1 {
    width: 1050px;
    margin: 0 auto;
}
.logo {
    display: block;
    margin: 0 auto;
}
.main-text {
    margin-top: 11px;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
.main-text-bolt {
    font-weight: 600;
}
.check {
    display: block;
    margin: 54px auto 0;
}
.block1Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.formula {
    font-size: 20px;
    font-weight: bold;
line-height: 29px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
margin: 16px 0 23px;
}
.block1-description {
    width: 420px;
    margin: 0 auto 80px;
    font-family: Jost;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
text-align: center;
color: #FFFFFF;
}
.color-text {
    color: #964E30;
    font-weight: 700;
}
.left-pack {
    margin-top: 107px;
}
.right-pack {
    margin-top: 60px;
}
.button-form {
    background: linear-gradient(180deg, #FFB187 0%, #BE5D28 100%);
box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.16);
border-radius: 50px;
color: #FFFDFC;
font-weight: bold;
font-size: 13px;
line-height: 19px;
padding: 24px 38px;
text-decoration: none;
text-transform: uppercase;
}
.button-form2 {
    background: linear-gradient(180deg, #FFB187 0%, #BE5D28 100%);
box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.16);
border-radius: 50px;
color: #FFFDFC;
font-weight: bold;
font-size: 13px;
line-height: 19px;
padding: 24px 73px;
text-decoration: none;
text-transform: uppercase;
}
.button-form3 {
    background: linear-gradient(180deg, #FFB187 0%, #BE5D28 100%);
box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.16);
border-radius: 50px;
color: #FFFDFC;
font-weight: bold;
font-size: 13px;
line-height: 19px;
padding: 24px 87px;
text-decoration: none;
text-transform: uppercase;
}
.button-form4 {
    background: linear-gradient(180deg, #FFB187 0%, #BE5D28 100%);
box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.16);
border-radius: 50px;
color: #FFFDFC;
font-weight: bold;
font-size: 13px;
line-height: 19px;
padding: 24px 89px;
text-decoration: none;
text-transform: uppercase;
}
.button-form:hover, .button-form2:hover, .button-form3:hover, .button-form4:hover {
    background: linear-gradient(150deg, #BE5D28  0%, #FFB187 100%);
}
.small-text {
    margin-top: 64px;
    font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;

color: #FFFFFF;

opacity: 0.5;
}
#block2 {
background-color: #FAFAFA;
padding: 60px 0 60px;
}
.block2 {
    width: 1050px;
    margin: 0 auto;
}
.block2Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block2-main-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 38px; 
    color: #383737; 
}
.block2flex1 {
    width: 50%;
}
.block2flex2 {
    width: 48%;
}
.block2-color {
    color: #964E30;
}
.all-text {
    margin: 20px 0;
    font-weight: 400;
font-size: 15px;
line-height: 23px;
 
color: #383737;
}
.all-text2 {
    margin: 10px 0;
    font-weight: 400;
font-size: 15px;
line-height: 23px;
 
color: #383737;
}
.text-bold {
    font-weight: 700;
}
.block2-img {
    margin-top: 20px;
}
#block3 {
    background-color: #FFFFFF;
    padding: 50px 0 0;
}
.block3 {
    width: 1050px;
    margin: 0 auto;
}
.block3-title {
    font-size: 40px;
line-height: 38px;
font-weight: 700;
color: #383737;
margin-bottom: 120px;
}
 
.block3-flex1, .block3-flex2, .block3-flex3, .block3-flex4, .block3-flex5, .block3-flex6, .block3-flex7, .block3-flex8 {
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 118px;
     
}
 
.black3-main {
    font-size: 24px;
line-height: 35px;
font-weight: 700;
color: #383737;
}
.block3-img1, .block3-img2, .block3-img3, .block3-img4, .block3-img5, .block3-img6, .block3-img7, .block3-img8 {
    width: 28%;
}

.block3-flextext {
    width: 72%;
}
.elips1 {
    position: absolute;
    margin-top: -7px;
    margin-left: -70px;
}
.elips2 {
    position: absolute;
    margin-top: -7px;
    margin-left: 513px;
}
.elips3 {
    position: absolute;
    margin-top: 246px;
    margin-left: 152px;
}
.elips4 {
    position: absolute;
    margin-top: 246px;
    margin-left: 740px;
}
.elips5 {
    position: absolute;
    margin-top: 520px;
    margin-left: -70px;
}
.elips6 {
    position: absolute;
    margin-top: 520px;
    margin-left: 513px;
}
 
.block3-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#block4 {
    background-color: #FAFAFA;
    padding: 115px 0 50px;
}
.block4 {
    width: 1050px;
    margin: 0 auto;
}
.block4-main {
padding-top: 35px;
font-weight: 700;
font-size: 40px;
line-height: 38px;
text-align: center;
color: #383737;
}
.block4-description {
  font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #383737;
}
 
.block4-top-img {
    display: block;
    width: 100%;
    height: 150px;
    background: url(../img/bl4-logo.png) 50% no-repeat;
}
.capsules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 55px;
}
.sachet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
}
.capsules-img {
    width: 48%;
}
.sachet-img {
    width: 48%;
}
.capsules-text {
    width: 48%;
    padding-top: 120px;
}
.sachet-text {
    width: 48%;
    padding-top: 80px;
}
.cream-text {
    width: 48%;
    padding-top: 24px;
}
.gel-text {
    width: 48%;
    padding-top: 100px;
}
.bl4-1 {
    padding-top: 20px;
}
.block4-main-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
line-height: 35px;
color: #964E30
}
.block4-desk-text {
    font-weight: 700;
font-size: 20px;
line-height: 29px;
color: #383737;
}
.bottom-50 {
    margin-bottom: 50px;
}
.bottom-40 {
    margin-bottom: 40px;
}
#block5 {
    background: url(../img/bg-5.jpg) 50% top no-repeat black;
    padding: 100px 0 100px;
    text-align: center; 
}
.block5 {
    width: 1120px;
    margin: 0 auto;
}
.block5-top-img {
    display: block;
    width: 100%;
    height: 150px;
    background: url(../img/bl4-logo.png) 50% no-repeat;
}
.block5-main {
    padding-top: 35px;
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    }
    .block5-description {
      font-weight: 300;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #FFFFFF;
    }
    .white-text {
        color: white;
    }
    .block5-all-text {
        margin: 20px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: white;
    }
    .block5-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .block5-result {
        width: 254px;
        height: 296px;
        border: 2px dashed #EDEDED;
box-sizing: border-box;
border-radius: 16px;
    }
.result-text {
margin-top: 32px;
font-weight: 400;
font-size: 20px;
line-height: 29px;
text-align: center;
color: #FFFFFF;
opacity: 0.5;
}
.block5-check {
    margin-top: 17px;
}
.percent-text {
    font-weight: 700;
font-size: 24px;
line-height: 35px;
text-align: center;
margin-top: 24px;
color: #FFFFFF;
}
.block5-text {
    font-weight: 400;
font-size: 16px;
line-height: 23px;
text-align: center;
margin-top: 7px;
color: #FFFFFF;

}
#block6 {
    background: rgb(223,146,94);
    background: url(../img/bg-6.jpg) 50% top no-repeat, linear-gradient(180deg, rgba(223,146,94,1) 0%, rgba(219,138,83,1) 25%, rgba(211,129,71,1) 39%, rgba(209,124,67,1) 50%, rgba(197,111,52,1) 75%, rgba(193,104,44,1) 86%, rgba(190,100,40,1) 100%);
    padding: 50px 0 70px;
    text-align: center; 
}
.block6 {
    width: 1050px;
    margin: 0 auto;
}
.block6-main-text {
    font-weight: 700;
font-size: 40px;
line-height: 38px;
text-align: center;
color: #FFFFFF;
}
.block60description {
    font-weight: 300;
font-size: 32px;
line-height: 38px;
text-align: center;
color: #FFFFFF;
}
.slide-bl {
    background: #FFFFFF;
border: 1px solid #FFF0C9;
box-sizing: border-box;
border-radius: 32px;
padding: 30px 53px;
}
.star-5 {
    margin-bottom: 31px;
}
.block6-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.otz-text {
    font-weight: 700;
font-size: 16px;
line-height: 23px;
text-transform: uppercase;
}
.derk-otz-text {
    color: #964E30;  
}
#block7 {
    background-color: #FFFFFF;
    padding: 70px 0 50px;
    text-align: center;
}
.block7 {
    width: 1050px;
    margin: 0 auto;
}
.block7-main {
    padding-top: 35px;
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    text-align: center;
    color: #383737;
    }
    .block7-description {
      font-weight: 300;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #383737;
    }
     
    .block7-top-img {
        display: block;
        width: 100%;
        height: 150px;
        background: url(../img/bl7-logo.png) 50% no-repeat;
    }
.block7-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}
.block7-info {
    padding: 32px 20px 0;
    height: 442px;
    width: 31%;
    border: 2px dashed #E9C7B9;
box-sizing: border-box;
border-radius: 16px;
}
.block7-number {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
   color: #383737;
    opacity: 0.5;   
    margin-bottom: 12px;
}
.block7-week {
    font-weight: 700;
font-size: 24px;
line-height: 35px;
text-align: center;
color: #383737;
}
#block8 {
    background: rgb(223,146,94);
    background: url(../img/bg-8.jpg) 50% top no-repeat, linear-gradient(90deg, rgba(58,85,109,1) 0%, rgba(58,85,109,1) 34%, rgba(201,86,6,1) 71%, rgba(201,86,6,1) 100%);
    padding: 50px 0 0px;

}
.block8 {
    width: 1050px;
    margin: 0 auto;
}
.block8-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block8-info {
    width: 46%;
}
.pack-4 {
    margin-left: 60px;
}
.block8-main {
    margin-top: 100px;
    font-weight: 700;
font-size: 40px;
line-height: 38px;
color: #FFFFFF;
margin-bottom: 50px;
}
.block8-info-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex8-img {
    width: 20%;
}
.flex8-text {
    width: 80%;
}
.block8-flex-main-text {
    font-weight: 700;
font-size: 24px;
line-height: 35px;
text-transform: uppercase;
color: #FFFFFF;
}
.block8-info-text {
    font-weight: 300;
font-size: 24px;
line-height: 31px;
color: #FFFFFF;
}
#block9 {
    background: black;
    background: url(../img/bg-9.jpg) 50% top no-repeat black;
    padding: 130px 0 90px;
}
.block9 {
    width: 1100px;
    margin: 0 auto;
}
.block9-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 .block9-img {
     width: 50%;
 }
 .block9-text {
     width: 50%;
 }
.gescr {
    margin-top: 10px;
    margin-bottom: 55px;
font-weight: 300;
font-size: 31px;
line-height: 38px;
color: white;
}
.flex9 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex9-ico {
    width: 15%;
}
.flex9-esle {
    width: 85%;
}
.block9-dopinfo {
    font-weight: 700;
font-size: 24px;
line-height: 35px;
text-transform: uppercase;
color: #FFFFFF;
}
.block9-description {
    margin-top: 8px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
color: #FFFFFF;
margin-bottom: 64px;
}
.product {
    margin-left: 81px;
    margin-top: 124px;
}
/*footer */

#block10 {
    background: #FAFAFA;
    padding: 46px 0 31px;
}
.block10 {
    width: 1050px;
    margin: 0 auto;
}
.flex-line1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.inter {
    font-weight: 700;
font-size: 24px;
line-height: 35px;
text-transform: uppercase;
color: #000000;
margin-bottom: 20px;
}
.inter-ogr {
    font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #383737;
margin-bottom: 12px;
}
.footer-info {
    width: 31%;
}
.map {
    background: #F0F0F0;
border-radius: 16px;
height: 116px;
}
.inter-contact {
    font-weight: 700;
font-size: 12px;
line-height: 17px;
text-transform: uppercase;
margin-bottom: 14px;
color: #383737;
}
.inter-adress {
    margin-bottom: 5px;
    font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #383737;
}
.inter-form {
    font-weight: 700;
font-size: 13px;
line-height: 19px;
text-transform: uppercase;
color: #6BAB47;
text-decoration: none;
border-bottom: 1px dashed #6BAB47;
}
.bottom-17 {
    margin-bottom: 17px;
}
.flex-line2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 42px;
}
.polotic {
    width: 50%;
}
.footer-img {
    width: 50%;
}
.polotic {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #383737;
    opacity: 0.5; 
}
.politika-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #383737;
    text-decoration: none;
}
.footer-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex0 {
    display: none;
}
.polotic {
    width: 50%;
}
.block9-img-hidden {
    display: none;
}